.start-page-button{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-radius: 0px;
}

.start-page-button:hover{
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.mainAnchorePane{
    -fx-background-color: white;
}

.test{

}